<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a href="/" class="navbar-brand">Airbnb</a>
		</div>
			<ul class="nav navbar-nav navbar-right">
		  	<% if signed_in? %>
			    <li><a href="/users/<%= current_user.id %>">Your profile</a></li>
			    <li>
			    	<%= link_to 'Sign out', sign_out_path, method: :delete %>
			    </li>
		  	<% else %>
					<li>
		  			<%= link_to "Connect With Facebook", "/auth/facebook" %>
		  		</li>
			    <li>
			    	<%= link_to 'Sign in', sign_in_path, data: {toggle: "modal", target: "#myModal"}%>
			    </li>
		  	<% end %>
		  </ul>
	</div>
</nav> 
