<div class="jumbotron">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 text-center">
				<h1>Airbnb</h1>
				<p>Book unique homes and experience a city like a local.</p>

				<%= form_for Listing.new, method: :get, url: search_path, class: "navbar-form navbar-left" do |f| %>
					<div class="search-form">
				    <%= text_field_tag :term, params[:term], placeholder:"Where next?", :class => "search-form--input"  %>
				    <%= f.submit 'search', :class => "search-form--button" %>
				  </div>
			  <% end %>
			</div>
		</div>
	</div>
</div>